<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/marvel-logo.png" width="180" height="50" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex search" >
        <input class="form-control me-2" width="1000px" type="search" placeholder="Search" aria-label="Search" #buscarTexto>
        <button class="btn btn-outline-danger" type="button" (click)="search(buscarTexto.value)">
            <img src="assets/img/search.png" width="23" height="23" alt="">
        </button>
    </div>
</nav>